body
  font-family: $font-family-sans-serif
  font-size: $font-size-base
  line-height: $line-height-base
  background-color: $white

h1
  font-weight: bolder
  color: white
  font-size: 5rem

.sect__services
  .service__block
    &.block--margin
      //margin-bottom: 2rem

  .service__card
    margin-bottom: 1rem

    &-title
      color: $accent-color
      font-family: "Roboto"
      font-size: 22px
      font-weight: 300
      margin-bottom: 1rem

    &-subtitle
      color: #464646
      font-family: "Roboto"
      font-size: 15px
      font-weight: 300
      line-height: 24px
      margin-bottom: 2rem

    &-btn
      padding: 1rem 2.5rem
      background-color: $form-btn-color
      border: 0
      border-radius: 3.125rem /* 50/16 */

.sect__calculator
  width: 100%
  background: url("../images/calc/Calc_Layer_Bg.png") center left no-repeat
  background-size: cover

  .calculator
    &__block
      .calcbox
        border: 1px solid rgba(255,255,255, 0.9)
        border-radius: .25rem /* 4/16 */
        padding: 1rem 1rem
        margin-bottom: 1rem

        &__heading
          font-size: 1.25rem /* 20/16 */
          font-weight: 400
          line-height: 24px
          margin-bottom: 1rem

        .range
          &__labels
            display: flex
            justify-content: space-between
            list-style-type: none
            margin: 0
            padding: 0

            &-item
              position: relative
              color: #ffffff
              font-size: 1rem /* 16/16 */
              font-weight: 300
              line-height: 1.5rem /* 24/16 */

              &.selected
                &::before
                  background-color: $accent-color

              &::before
                content: ""
                position: absolute
                bottom: -37px
                right: 0
                left: 0
                margin: 0 auto
                width: 19px
                height: 19px
                background-color: #ffffff
                border-radius: 50%
                cursor: pointer
                z-index: 1

              &::after
                content: ""
                position: absolute
                bottom: -31px
                right: 0
                left: 0
                margin: 0 auto
                width: 5px
                height: 5px
                background-color: #ffffff
                border-radius: 50%
                cursor: pointer
                z-index: 1
                

          &__select
            list-style-type: none
            margin: 0
            padding: 0

            &::after
              content: ""
              display: block
              position: relative
              width: 100%
              height: 9px
              background-color: rgba(255,255,255, 0.5) !important
              margin-top: 1rem
              border-radius: 5px

            &-item
              position: relative
              color: #ffffff
              font-size: 1rem /* 16/16 */
              font-weight: 300
              line-height: 1.5rem /* 24/16 */
              transition: 0.5s ease
              cursor: pointer

        .plan
          &__select
            display: flex
            flex-direction: row
            justify-content: space-around
            list-style-type: none
            margin: 0
            padding: 0

            &-item
              display: flex
              justify-content: space-around
              align-items: center
              position: relative
              width: 100%
              height: 45px
              border: 1px solid rgba(255,255,255, 0.9)
              border-radius: .25rem /* 4/16 */
              color: #ffffff
              margin-right: 1rem
              transition: 0.5s ease

              &.selected,
              &:hover
                background-color: $accent-color
                border-color: $accent-color
                cursor: pointer

                .plan__desc
                  opacity: 1

              &:last-child
                margin-right: 0

          &__desc
            opacity: 0
            width: 493px
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.23)
            border-radius: .25rem /* 4/16 */
            background-color: #ffffff
            position: absolute
            top: 3.4rem
            color: #000
            padding: 1rem
            width: 350px
            text-align: center
            font-size: .875rem /* 14/16 */
            font-weight: 400
            transition: 0.5s ease
            z-index: 1

            &::after
              content: " "
              position: absolute
              top: -14px
              transform: translateX(-50%)
              left: 50%
              border-top: none
              border-right: 15px solid transparent
              border-left: 15px solid transparent
              border-bottom: 15px solid white

    .calculator__result
      list-style-type: none
      margin: 0
      padding: 0

      li
        display: flex
        flex-direction: column
        align-items: center
        font-weight: 400
        font-size: 1rem /* 16/16 */
        line-height: 1rem /* 16/16 */
        margin-bottom: 1rem
        color: #ffffff

        &:last-child
          margin-top: 2rem

        a
          padding: 1rem 2.5rem
          background-color: $form-btn-color
          border: 0
          border-radius: 3.125rem /* 50/16 */
          margin-bottom: 2rem

        span
          color: #ffffff
          font-family: Roboto
          font-size: 2rem /* 32/16 */
          line-height: 2rem /* 32/16 */
          margin-top: 1rem

      .consultation
        color: rgba(255,255,255, 0.9)
        font-size: .875rem /* 14/16 */

        &__phone
          font-size: 1.125rem /* 18/16 */
          font-weight: 500
          margin-top: 0.5rem

.sect__portfolio
  .tabs__list
    display: flex
    justify-content: center
    flex-wrap: wrap
    list-style-type: none
    margin: 0
    padding: 0

    &-item
      background-color: #ffffff
      border-top: 1px solid $accent-color
      border-bottom: 1px solid $accent-color
      border-right: 1px solid $accent-color
      transition: 0.5s ease
      cursor: pointer

      &:first-child
        border-left: 1px solid $accent-color
        -webkit-border-top-left-radius: 30px
        -webkit-border-bottom-left-radius: 30px
        -moz-border-radius-topleft: 30px
        -moz-border-radius-bottomleft: 30px
        border-top-left-radius: 30px
        border-bottom-left-radius: 30px

      &:last-child
        -webkit-border-top-right-radius: 30px
        -webkit-border-bottom-right-radius: 30px
        -moz-border-radius-topright: 30px
        -moz-border-radius-bottomright: 30px
        border-top-right-radius: 30px
        border-bottom-right-radius: 30px

      &.active
        background-color: $accent-color
        a
          color: #ffffff

      &:hover
        background-color: $accent-color
        a
          color: #ffffff
      
      a
        padding: .625rem /* 10/16 */ 2.1875rem /* 35/16 */
        text-transform: uppercase
        text-decoration: none
        text-align: center
        display: block
        color: $accent-color

  .portfolio
    &__card
      text-align: center

.sect__things
  background-color: #f2f8f9

  .thing__cards
    justify-content: center

  .thing__card
    margin-bottom: 2rem
    text-align: center

    &-icon
      margin-bottom: 1rem

      img
        min-height: 65px

      &::after
        content: ""
        display: block
        position: relative
        transform: translateX(-50%)
        left: 50%
        width: 50%
        height: 1px
        background-color: $accent-color
        margin-top: 1rem

    p
      font-size: .875rem /* 14/16 */
      font-weight: 500
      text-overflow: ellipsis
      overflow: hidden

.sect__process
  .process__card
    &-item
      text-align: center

    &-title
      font-size: 1.5625rem /* 25/16 */
      font-weight: 300
      color: #464646
      margin: 3rem
      overflow: hidden

.sect__brands
  background-color: #f2f8f9

  .brand__cards
    align-items: center

    .brand__card
      text-align: center
      margin-bottom: 4rem

      &-image
        text-align: center

        img
          max-width: 130px

.sect__teams
  .team__cards
    align-items: center

  .team__card
    margin-bottom: 2rem
    text-align: center

    &-image
      img
        max-width: 180px

    &-name
      margin-top: 2rem
      font-size: 20px
      font-weight: 300
      text-transform: none
      color: $accent-color

    &-position
      font-weight: 300

  .team__testimonials
    padding-bottom: 4rem

    .testimonial__cards
      align-items: center

    .testimonial__card
      text-align: center

      blockquote
        margin: 0 auto

        &::after,
        &::before
          position: absolute
          color: $accent-color
          font-size: 2rem
          width: 47px
          height: 37px

        &::after
          content: ''
          background-image: url('../images/Right_quote.png')
          vertical-align: bottom
          right: 0
        
        &::before
          content: ''
          background-image: url('../images/Left_quote.png')
          vertical-align: top
          left: 0   

      &-testimon
        margin-top: 2rem
        font-size: 1.875rem /* 30/16 */
        font-weight: 300
        text-transform: none
        color: #464646

      &-description
        padding: 0 4rem
        font-weight: 300

      &-author
        h5
          font-size: 1.125rem /* 18/16 */
          font-weight: 500

        p
          font-size: 1rem /* 16/16 */
          font-weight: 300
          margin-bottom: 0

.sect__blogs
  background-color: #f2f8f9

  .blog__cards
    .blog__card
      text-align: center
      margin-bottom: 2rem

      &-image
        img
          margin-bottom: 1rem

      &-link
        color: $accent-color
        font-size: 1.125rem /* 18/16 */
        font-weight: 300

.sect__questions
  width: 100%
  background: url("../images/questions/Questions_Layer_Bg.png") center left no-repeat
  background-size: cover

  .question__form
    .form-control
      padding: 1.5rem 1.5rem
      margin-bottom: 1rem
      font-size: .875rem /* 14/16 */
      font-weight: 300

    .send-btn
      display: flex
      justify-content: center
      margin-bottom: 1.875rem /* 30/16 */

      .btn
        padding: 1rem 2.5rem
        background-color: $form-btn-color
        border-radius: 3.125rem /* 50/16 */

  .social__icon
    &-link
      display: flex
      align-items: flex-start
      margin-bottom: 1rem

    &-content
      align-self: center
      font-weight: 500

    a
      color: #ffffff

    p
      margin-top: 1.5rem
      font-size: 1rem /* 16/16 */
      font-weight: 300
      color: #ffffff

.footer
  padding-top: 3rem
  padding-bottom: 3rem
  background-color: #24241f

  &__mnu
    display: flex
    padding-bottom: 3rem

    .mnu__links
      list-style-type: none
      margin: 0
      padding: 0
      color: #ffffff
      font-size: .875rem /* 14/16 */
      font-weight: 300

      &:last-child
        margin-left: auto
        flex-direction: row

        p
          margin-bottom: 0.2rem

        a
          color: #ffffff
          font-size: .875rem /* 14/16 */
          font-weight: 300

          img
            max-width: 27px

      &-item
        margin-right: 4rem
        margin-bottom: 0.5rem

        a
          color: #ffffff
          font-size: .875rem /* 14/16 */
          font-weight: 300

          img
            max-width: 27px

    .social
      display: flex
      justify-content: right
      color: #ffffff
      font-size: .875rem /* 14/16 */
      font-weight: 300

  &__copyright
    display: flex
    justify-content: space-between
    align-items: center
    color: #ffffff
    font-size: .875rem /* 14/16 */
    font-weight: 300
    border-top: 1px solid rgba(255,255,255, 0.2)
    padding-top: 2rem

    &-license
      text-align: left

    &-created
      text-align: right

      img
        margin-left: 0.5rem