.header 
  padding-top: 1.875rem /* 30/16 */
  width: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 1000

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
      
  &__logo
    img
      max-width: 9.375rem /* 150/16 */

  &__navbar
    display: flex
    justify-content: space-between
    align-items: center

    .phone__inner
      display: flex
      justify-content: center
      align-items: center
      margin-right: 5rem

      @media (max-width: $screen-sm)
        display: none

      img
        margin-right: .5rem /* 8/16 */
        width: 1.9rem /* 35/16 */

      &-text
        color: $white

      &-number
        font-size: 1.2rem /* 28/16 */
        font-weight: 500
        color: $white
        margin-bottom: 0
        white-space: nowrap

.header__intro
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  height: 100%
  background: url("../images/bg@1.png") center no-repeat
  background-size: cover

  *
    position: relative
    z-index: 10

  &-inner
    width: 100%
    max-width: 53.75rem /* 860/16 */
    margin: 0 auto

  &-title
    font-size: 48px
    font-weight: 500
    color: $white
    text-align: center
    line-height: 1
    margin-bottom: 2.8125rem /* 45/16 */
    margin-top: 10rem

    @media (max-width: $screen-md)
      font-size: 30px
      margin-bottom: 0.8125rem

    @media (max-width: $screen-sm)
      font-size: 30px
      margin-bottom: 0.8125rem

  &-subtitle
    font-size: 1.375rem /* 22/16 */
    font-weight: 300
    color: $white
    text-align: center
    line-height: 1.75rem /* 28/16 */

    @media (max-width: $screen-sm)
      font-size: 1rem /* 16/16 */

.mobile__mnu
  .mnu__text
    text-transform: uppercase
    color: $white
    font-weight: bold

.header__forms
  margin-top: 2.8125rem /* 45/16 */
  margin-bottom: 8.125rem /* 130/16 */

  @media (max-width: $screen-sm)
    margin-bottom: 2rem

  .forms__inner
    &-form
      .form-control
        padding: 1.5rem 1.5rem
        border-radius: 3.125rem /* 50/16 */
        margin-bottom: .625rem /* 10/16 */

      .row
        margin-bottom: 1.25rem /* 20/16 */


  .send-btn
    display: flex
    justify-content: center
    margin-bottom: 1.875rem /* 30/16 */

    .btn
      padding: 1rem 2.5rem
      background-color: $form-btn-color
      border-radius: 3.125rem /* 50/16 */

  .form__bottom
    color: $white
    text-align: center

.header__scroll
  padding-top: 10.375rem /* 166/16 */
