.sect
  padding-top: 4.375rem /* 70/16 */
  padding-bottom: 3rem

  @media (max-width: $screen-sm)
    padding-top: 1.875rem /* 30/16 */

  &--whcolor
    .sect__title
      color: rgba(255,255,255, 0.9) !important

      &::after
        content: ""
        display: block
        position: relative
        width: 377px
        height: 2px
        background-color: rgba(255,255,255, 0.9) !important
        margin-top: 1rem
        
    .sect__subtitle
      color: rgba(255,255,255, 0.9) !important

  &__title
    color: #363636
    font-family: Roboto
    font-size: 2rem /* 36/16 */
    font-weight: 300
    line-height: 2.375rem /* 38/16 */
    text-align: center
    margin-bottom: 2rem

    @media (max-width: $screen-sm)
      font-size: 1.375rem /* 22/16 */

    &::after
      content: ""
      display: block
      position: relative
      transform: translateX(-50%)
      left: 50%
      width: 377px
      height: 2px
      background-color: $accent-color
      margin-top: 1rem

      @media (max-width: $screen-sm)
        width: 200px

  &__subtitle
    color: #363636
    font-family: Roboto
    font-size: 1.625rem /* 26/16 */
    font-weight: 300
    line-height: 2.375rem /* 38/16 */
    text-align: center
    margin-bottom: 3rem
